{{> header }}
	<div class="ui text container">
        	<h1 class="ui inverted header">Monitor Temperature and humidity.</h1>
        <p>
          Know your indoor environment. Temperature and Humidity Monitor, you get reliable information that can help you ensure a comfortable living space, and better air quality.
        </p>
        <div class="ui text shape">
          <div class="sides">
            <div class="active ui header side">Know your home temperature is awesome!!!.</div>
            
          </div>
        </div>
        

  </div>
    
{{> footer }}